.buttonContainer {
    width: 360px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.6);
}

.buttonContainer button {
    width: 300px;
    padding: 10px;
    background-color: rgb(132, 248, 60);
    border: none;
    border-radius: 4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    

}

.buttonContainer button:hover {
    background-color: rgb(221, 69, 201);
    cursor: pointer;
}

.buttonContainer h1{
    background-image: url("../../../public/speed\ keys\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 360px;
    
}

.buttonContainer p{
    color:white;
}


@media only screen and (min-width:500px){

    .buttonContainer h1{
        width: 500px;
        height: 360px;
        background-size: cover;
    }

    .buttonContainer button {
        width: 400px;
    }

    .buttonContainer {
    width: 500px;
   
    }
  }