.scoreboard {
    text-align: right;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 12px;
    background-color: black;
    padding-right: 3px;
    padding-left: 3px;
    display: flex;
    justify-content: space-around;
    min-width: 360px;
}


.scoreboard p {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}



.gameboard ul {
    text-align: center;
    padding-top: 4px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    min-width: 360px;
}

.gameboard ul li {
    display: inline-block;
    width: 51px;
    height: 90px;
    margin: 0px 10px;
}

.gameboard section:last-of-type{
    background-color: hsla(127, 97%, 57%, 0.571);
}

.gameboard section:last-of-type.redBar{
    background-color: #ee1b3a;
}

.gameboard ul li.selected {
    background-image: url("../../../public/pianoman_testkey.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;

}

.gameboard ul li.unselected{
   background-color: black;
   height: 80px;
   width: 45px;
    
  
}

.gameboard input{
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: -1;
}

ul.legend li{
    height: 30px;
    background-image: url("../../../public/pianoman_pianokey.png");
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 10px;
    border: 2px solid white;
}

ul.legend{
    padding-bottom: 40px;
    padding-top: 5px;
}

.instructionBox{
    max-width: 600px;
    text-align: center;
    font-size: 10px;
}


@media only screen and (min-width:400px){

    .gameboard ul li.unselected{
        height: 90px;
        width: 50px;
    }

    .gameboard ul li.selected {
        margin-top: 0px;
    }

}

@media only screen and (min-width:500px){

    .gameboard ul li.unselected{
        height: 96px;
        width: 56px;
    }

    ul.legend li{
        font-size: 12px;
    }
}

@media only screen and (min-width:600px){

    .scoreboard {
        font-size: 14px;
    }
    .instructionBox{
        font-size: 13px;
    }
    ul.legend li{
        font-size: 14px;
    }
}

@media only screen and (min-width:700px){

    .gameboard ul li.unselected{
        height: 115px;
        width: 70px;
    }

    .gameboard ul li {
        width: 65px;
    }
    .gameboard ul li.selected{
        height: 115px;
        width: 70px;
    }

    ul.legend li{
        font-size: 16px;
    }
}

@media only screen and (min-width:1200px){

    .gameboard ul li.unselected{
        height: 160px;
        width: 90px;
    }

    .gameboard ul li {
        width: 86px;
    }
    .gameboard ul li.selected{
        height: 160px;
        width: 90px;
    }

    .scoreboard {
        font-size: 18px;
    }
    .instructionBox{
        font-size: 15px;
    }

    ul.legend li{
        font-size: 22px;
    }

}