.scoreboard {
    text-align: right;
    position: absolute;
    right: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.scoreboard p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.gameboard ul {
    text-align: center;
    padding-top: 20px;
}

.gameboard ul li {
    display: inline-block;
    width: 51px;
    height: 90px;
    background-color: rgb(204, 204, 204);
    margin: 0px 20px;
}

.gameboard section:last-of-type{
    background-color: hsla(127, 97%, 57%, 0.571);
}

.gameboard section:last-of-type.redBar{
    background-color: #ee1b3a;
}

.gameboard ul li.selected {
    background-image: url("../../../public/pianoman_testkey.png");
    background-size: contain;

}

.gameboard ul li.unselected{
   background-color: black;
    
  
}

.gameboard input{
    opacity: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: -1;
}

ul.legend li{
    height: 30px;
    background-image: url("../../../public/pianoman_pianokey.png");
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid white;
}

ul.legend{
    padding-bottom: 40px;
    padding-top: 5px;
}